.App {
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(./pokemon_wallpaper.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

.pinned-content {
  padding-top: 30px;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #333333;
  color: white;
  z-index: 99 !important;
}

h1 { 
  font-family: 'Fredoka One', cursive;
  cursor: pointer;
}
.pinned-content h5, .pinned-content h1 {
  padding: 10px;
}
.pinned-content h5 {
  padding-bottom: 0px;
}

.pokemon-list {
  margin: 0 auto;
  padding-left: 8vw;
  padding-right: 9vw;
  padding-top: 240px;
  min-height: 101vh;
}

.pokemon {
  padding: 5px;
  padding-top: 6px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #333333;
  opacity: 0.95;
  color: white;
  width: 220px;
  height: 256px;
  margin: 15px;
  border-radius: 20px;
}

.pokemon-list li {
  display: inline-block;
  vertical-align: top;
}

.pokemon img {
  width: 110px;
  height: 110px;
}

img.type {
  width: initial;
  height: initial;
  margin: 2px;
}

.dropdown {
  display: inline;
  margin: 40px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.pokemon span {
  font-size: 14px;
}

#pokenumber {
  text-align: left;
}

.inline-heading {
  position: relative;
  line-height: 1.5em;
}

.inline-heading span {
  /* display: inline; */
  float: left;
  font-size: 12px;
}

.pokemon h3 {
  font-size: 24px;
  padding-right: 9px;
}

.btn-sm {
  min-width: 142px !important;
}